@import './reset';
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif:400,700');

// Named Colors
$orange: #f28a49;
$yellow: #f7e3b2;
$pink: #e3967d;
$brown: #57342d;
$mint: #9dbfa4;
$offwhite: #f8f8ec;
$blue: #bdcdd0;
$navy: #5d6b8c;

$charcoal: #42403a;
$tan: #807c68;

$global-spacer: 20px;
$sectionMinHeight: 400px;
$small: 0;
$medium: 660px;
$large: 1024px;

// Semantic Colors
$rotatingBgColor: $charcoal;
$rotatingFontColor: $offwhite;
$sideNavLinks: $offwhite;

// Fonts
//$header-font: 'Open Sans', Helvetica, sans-serif;
$header-font: 'PT Sans Caption', 'Arial', serif;
$body-font: 'PT Serif', 'Times New Roman', serif;


* {
    box-sizing: border-box;
}

html,
body {
    font-family: $body-font;
    background-color: $offwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: $header-font;
    letter-spacing: 1px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
    color: $offwhite;

    &:hover {
        text-decoration: underline;
        color: $offwhite;
        cursor: pointer;
    }
}

.u-underline {
    text-decoration: underline;
}

.u-italic {
    font-style: italic;
}

.u-bold {
    font-weight: 700;
}

.c-site-wrap {
}

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin block-padding() {
    padding: $global-spacer $global-spacer;

    @media all and (min-width: $medium) {
        padding: ($global-spacer * 2) ($global-spacer * 2);
    }

    @media all and (min-width: $large) {
        padding: ($global-spacer * 2) ($global-spacer * 3);
    }

}

@mixin text-padding {
    padding-left: $global-spacer;
    padding-right: $global-spacer;

    @media all and (min-width: $medium) {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.c-aside {
    position: fixed;
    right: $global-spacer;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-nav {
    display: none;

    @media all and (min-width: $medium) {
        display: block;
    }

    &__list {

    }

    &__item {

    }

    &__link {
        display: block;
        width: $global-spacer;
        height: $global-spacer;
        border: 2px solid $sideNavLinks;
        border-radius: 50%;
        margin: $global-spacer 0;

        &.active {
            background-color: $sideNavLinks;
        }

        &.active,
        &:hover {
            .c-nav__title {
                opacity: 1;
                padding-right: 10px;
            }
        }
    }

    &__title {
        color: $sideNavLinks;
        white-space: nowrap;
        text-decoration: none;
        display: inline-block;
        padding-right: 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 250ms ease-in,
                    padding 250ms ease-in;
    }
}

.c-section {
    @include block-padding;
    text-align: center;

    h1 {
        font-size: 1.75rem;

        @media all and (min-width: $medium) {
            font-size: 3rem;
        }
    }

    &--head {
        height: 200px;
        padding-left: 0;
        padding-right: 0;

        @media all and (min-width: $medium * 0.75) {
            height: 300px;
        }

        @media all and (min-width: $medium) {
            height: 400px;
        }

        @media all and (min-width: $medium + (($large - $medium) / 2)) {
            height: 500px;
        }

        @media all and (min-width: $large) {
            height: 600px;
        }
    }

    &--entry {
        min-height: $sectionMinHeight;

        &:nth-of-type(2n) {
            background-color: $rotatingBgColor;
            color: $rotatingFontColor;
        }

        &:nth-of-type(2n+1) {
            background-color: $rotatingFontColor;
            background-color: rgba($tan, 0.75);
            color: $rotatingBgColor;
        }

    }

    &__text {
        @include text-padding;
    }

}

.c-dave-and-drew {
    background-image: url(../assets/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    filter: sepia(60%);

    &__title-container {
        background-color: rgba($tan, 0.75);
        width: 100%;
        padding: $global-spacer / 2;
        color: $rotatingFontColor;
        position: absolute;
        top: 0;
        left: 0;

        @media all and (min-width: $medium) {
            top: $global-spacer * 2;
        }

        @media all and (min-width: $large) {
            top: $global-spacer * 4;
        }
    }

    &__title {
        font-size: 1.5rem;
        padding-bottom: 0;

        @media all and (min-width: $medium) {
            padding-bottom: $global-spacer / 2;
        }

        @media all and (min-width: $large) {
            font-size: 2rem;
            padding-bottom: $global-spacer;
        }
    }

    &__date,
    &__location {
        padding-bottom: 0;
    }
}

.c-story,
.c-proposal,
.c-bridal-party {
    @include clearfix;
    text-align: justify;

    &__title {
        text-align: center;
    }

    &__subtitle {
        font-family: $body-font;
        text-transform: none;
        text-decoration: underline;
        font-size: 1.25rem;
        font-style: italic;
        text-align: center;
    }

    &__dave,
    &__drew {
        padding: $global-spacer 0;

        @media all and (min-width: $medium) {
            padding: $global-spacer;
        }

        @media all and (min-width: $large) {
            margin-top: $global-spacer * 2;
            float: left;
            width: 50%;
        }
    }

    &__dave {
        @media all and (min-width: $large) {
            padding: $global-spacer $global-spacer * 2 $global-spacer $global-spacer * 4;
        }
    }

    &__drew {
        border-top: 1px solid $rotatingFontColor;

        @media all and (min-width: $large) {
            padding: $global-spacer $global-spacer * 4 $global-spacer $global-spacer * 2;
            border-top: none;
            border-left: 1px solid $rotatingFontColor;
        }

    }

}

.c-proposal {
    padding: 0;
    color: $rotatingFontColor !important;
    filter: sepia(60%);

    @media all and (max-width: $large - 1px) {
        background-position: 50% 0;
        background-repeat: repeat-y;
        background-image: url(../assets/mobile-skinny.jpg);
    }

    @media all and (min-width: $large) {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        animation: imageAnimation 36s ease-in-out infinite;
    }

    &__content {
        @include clearfix;
        @include block-padding;
        background-color: rgba($tan, 0.75);
    }
}

@keyframes imageAnimation {
    0% {
        background-image: url(../assets/slideshow/DrewDave-103.jpg);
    }

    16% {
        background-image: url(../assets/slideshow/DrewDave-107.jpg);
    }

    33% {
        background-image: url(../assets/slideshow/DrewDave-108.jpg);
    }

    50% {
        background-image: url(../assets/slideshow/DrewDave-113.jpg);
    }

    66% {
        background-image: url(../assets/slideshow/DrewDave-121.jpg);
    }

    73% {
        background-image: url(../assets/slideshow/DrewDave-127.jpg);
    }

    100% {
        background-image: url(../assets/slideshow/DrewDave-103.jpg);
    }
}

.c-wedding {
    @include clearfix;

    &__title {
        margin-bottom: $global-spacer * 2;
    }

    &__img {
        width: 100%;
        margin: 0 auto;
        visibility: hidden;

        &-wrap {
            background-image: url(../assets/community-house.jpg);
            float: left;
            clear: left;
            width: 60%;
            margin: 0 20% $global-spacer * 2;
            padding: 0;
            box-shadow: 0 0 10px 0 $rotatingBgColor inset;
            background-size: cover;
            border-radius: 50%;
            filter: sepia(60%);

            @media all and (min-width: $medium) {
                width: 30%;
                margin: $global-spacer * 2 35%;
            }
        }
    }

    &__when {
        padding: $global-spacer * 2 10%;

        @media all and (min-width: $medium) {
            float: left;
            padding-left: 10%;
            width: 50%;
        }

        @media all and (min-width: $large) {
            padding-left: 20%;
        }

        p {
            line-height: 2rem;
            padding-bottom: 0;
        }
    }

    &__where {
        border-top: 1px solid $rotatingFontColor;
        padding: $global-spacer * 2 10%;
        width: 80%;
        margin: 0 10%;

        @media all and (min-width: $medium) {
            float: left;
            margin: 0;
            padding-right: 10%;
            width: 50%;
            border-top: none;
            border-left: 1px solid $rotatingFontColor;
        }

        @media all and (min-width: $large) {
            padding-right: 20%;
        }
    }
}

.c-bridal-party {

    &__dave,
    &__drew {
        text-align: center;
        border-color: $rotatingBgColor;

        li {
            padding-bottom: $global-spacer;
        }

        p {
            font-weight: 700;
            padding-bottom: 0;
        }

        span {
            font-style: italic;
        }
    }
}

.c-accomodations {

    &__title {
        margin-bottom: $global-spacer * 2;
    }

    &__hotel {
        margin-bottom: $global-spacer * 2;
    }

    &__info {
    }

}

.c-registry {
    @include clearfix();

    @media all and (min-width: $medium) {
        padding-left: 20%;
        padding-right: 20%;
    }

    &__entry {
        @include clearfix();
        padding: 0 10%;
        width: 60%;
        margin: $global-spacer * 2 20%;

        @media all and (min-width: $medium) {
            float: left;
            width: 50%;
            margin: $global-spacer * 2 0;
        }

        &--bed-bath-beyond {
            @media all and (min-width: $medium) {
                padding-top: $global-spacer / 2;
            }
        }

        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }

}

.c-footer {
    @include block-padding;
    text-align: center;
    background-color: $rotatingBgColor;
    color: $rotatingFontColor;
}
